<div class="wrapper">
  <div class="page">

      <div class="page-inner">
          <header class="page-title-bar mb-1">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item active">
                          <a routerLink="/lead-system-list"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i> Lead List </a>
                      </li>
                  </ol>
              </nav>
              <div class="row text-center text-sm-left h-100 mt-3">
                  <div class="col-sm-auto col-12">
                      <span class="tile tile-lg bg-info">
                        <i class="fas fa-address-book"></i>
                      </span>
                  </div>
                  <div class="col pl-1 justify-content-center align-self-center">
                    <span class="text-muted m-0"> Lead Management </span>
                    <h4 class="m-0"> Update Lead </h4>
                  </div>
              </div>
          </header>

          
          <div class="page-section">
            <form [formGroup]="modalFormGroup" autocomplete="off" novalidate  >
            <ul ngbNav #nav="ngbNav" [activeId]="activatedRoute.fragment | async" class="nav-tabs">
              <li ngbNavItem="information">
                <a ngbNavLink routerLink="." fragment="information">Information</a>
                <ng-template ngbNavContent>
                  <div class="card-body border-top card-header">
                    <div class="d-flex align-items-center">
                      <span class="mr-auto">Highlight</span>
                      <div   >
                        <button class="btn btn-primary  mr-1  " (click)="setStatus('Solid')">Set as Solid </button>
                        <button class="btn btn-danger mr-1  " (click)="setStatus('Dead')">Set as Dead</button>
                        <button class="btn btn-info mr-1" (click)="setStatus('Close')">Close Lead</button>
                        <button class="btn btn-warning  mr-1  " routerLink="/lead-system-list">Cancel</button>
                        <button class="btn btn-success  mr-1  " (click)="saveLeadheader()">Save</button>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="form-row">
                      
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="id"> Client Name </label>
                          <input type="text" class="form-control" formControlName="ClientName" placeholder="System Generated" readonly />
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="form-group">
                          <label for="revNo"> Description </label>
                          <input type="textarea" class="form-control" formControlName="Description" placeholder="Description" readonly/>
                        </div>
                      </div>                        
                    </div>
                    <div class="form-row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="id"> Lead Number </label>
                          <input type="text" class="form-control" formControlName="LeadNo" placeholder="System Generated" readonly />
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="LeadDate"> Lead Date </label>
                          <input type="date" class="form-control" formControlName="LeadDate"   />
                        </div>
                      </div>  
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="id"> Sales Person </label>
                          <ng-select appearance="outline" [searchable]="true"  labelForId="SalesPersonId" formControlName="SalesPersonId"   placeholder="Select Sales Person">
                            <ng-option *ngFor="let employee of employees" [value]="employee.EmployeeId">{{ employee.FullName }}</ng-option>
                          </ng-select>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="revNo"> Follow Up Date </label>
                          <input type="date" class="form-control" formControlName="FollowUpDate"   />
                        </div>
                      </div>  
                     
                                     
                    </div>
                    <div class="form-row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="id"> Status </label>
                          <select class="form-control" name="status" formControlName="Status" >
                            <option  >Active</option>
                            <option  >Dead</option>
                            <option  >Solid</option>
                            <option  >Close</option>
                         </select>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="revNo"> Status Comment </label>
                          <select class="form-control" name="StatusComment"   formControlName="StatusComment">
                            <option  >Active Lead</option>
                            <option  >Long Term</option>
                            <option  >Email Only</option>
                            <option  >Old Client</option>
                         </select>
                        </div>
                      </div>  

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="id"> Sales Person 2 </label>
                          <ng-select appearance="outline" [searchable]="true"  labelForId="SalesPersonId" formControlName="SalesPersonId2"   placeholder="Select Sales Person">
                            <ng-option *ngFor="let employee of employees" [value]="employee.EmployeeId">{{ employee.FullName }}</ng-option>
                          </ng-select>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="revNo"> Follow Up Date 2 </label>
                          <input type="date" class="form-control" formControlName="FollowUpDate2"  />
                        </div>
                      </div>  
                      

                     
                                         
                    </div>
                    <div class="form-row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="id"> Remarks </label>
                          <textarea class="form-control" name="" formControlName="Remarks"  cols="10" rows="5"></textarea>
                           
                        </div>
                      </div>
                                     
                                           
                    </div>
                
                  </div>
                  <div class="card-body border-top card-header">
                    <div class="d-flex align-items-center">
                      <span class="mr-auto">Contact List</span>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="page-section">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th class="align-middle" style="width: 5%" scope="col" sortable="code">Salutation</th>
                            <th class="align-middle" style="width: 15%" scope="col" sortable="code">First Name</th>
                            <th class="align-middle" style="width: 15%" scope="col" sortable="code">Last Name</th>
                            <th class="align-middle" style="width: 5%" scope="col" sortable="code">Status</th>
                            <th class="align-middle" style="width: 10%" scope="col" sortable="code">Department</th>
                            <th class="align-middle" style="width: 10%" scope="col" sortable="code">Type</th>
                            <th class="align-middle" style="width: 20%" scope="col" sortable="code">Email</th>
                            <th class="align-middle" style="width: 20%" scope="col" sortable="code">Remarks</th>
                            <th class="align-middle" style="width: 5%" scope="col" sortable="code"><button class="btn btn-info ml-auto" (click)="openLeadContactModal()"><i class="fas fa-plus"></i></button></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let leadcontact of leadcontacts; index as i">
                            <td class="align-middle">{{leadcontact.Salutation}}<ngb-highlight></ngb-highlight></td>
                            <td class="align-middle">{{leadcontact.FirstName}}<ngb-highlight></ngb-highlight></td>
                            <td class="align-middle">{{leadcontact.LastName}}<ngb-highlight></ngb-highlight></td>
                            <td class="align-middle">{{leadcontact.Status}}<ngb-highlight></ngb-highlight></td>
                            <td class="align-middle">{{leadcontact.Department}}<ngb-highlight></ngb-highlight></td>
                            <td class="align-middle">{{leadcontact.Type}}<ngb-highlight></ngb-highlight></td>
                            <td class="align-middle">{{leadcontact.Email}}<ngb-highlight></ngb-highlight></td>
                            <td class="align-middle">{{leadcontact.Remarks}}<ngb-highlight></ngb-highlight></td>
                            <td class="align-middle">  
                              <button class="btn btn-info ml-auto mr-1" (click)="deleteContact(i)"><i class="fas fa-trash"></i></button> 
                              <ngb-highlight></ngb-highlight>
                            </td>
                          </tr>
                         
                        </tbody>
                      </table>
            
                     
                    </div>              
                  </div>
              
                </ng-template>
              </li>
              <li ngbNavItem="lead">
                <a ngbNavLink routerLink="." fragment="lead">Lead</a>
                <ng-template ngbNavContent>
                  <div class="card-body border-top card-header">
                    <div class="d-flex align-items-center">
                      <span class="mr-auto">Highlight</span>
                      <button class="btn btn-warning  mr-1  " routerLink="/lead-system-list">Cancel</button>
                      <button class="btn btn-success  mr-1  " (click)="saveLeadheader()">Save</button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="form-row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="id"> Lead Number </label>
                          <input type="text" class="form-control" formControlName="LeadNo" placeholder="System Generated" readonly />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="revNo"> Lead Date </label>
                          <input type="date" class="form-control" formControlName="LeadDate"   />
                        </div>
                      </div>  
                                          
                    </div>
                    <div class="form-row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="id"> Status </label>
                          <select class="form-control" name="status" >
                            <option  >Active</option>
                            <option  >Dead</option>
                            <option  >Solid</option>
                            <option  >Close</option>
                         </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="revNo"> Status Comment </label>
                          <select class="form-control" name="status" >
                            <option  >Active Lead</option>
                            <option  >Long Term</option>
                            <option  >Email Only</option>
                            <option  >Old Client</option>
                         </select>
                        </div>
                      </div>  

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="revNo"> Makati TIme </label>
                          <input type="datetime" class="form-control" />
                        </div>
                      </div>  
                                         
                    </div>
                    <div class="form-row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="id"> Sales Person </label>
                          <select class="form-control" name="status" >
                            <option  >Climaco Onde Jr</option>
                            <option  >Kenny Rogers</option>
                            <option  >Whiteny Houston</option>
                            <option  >Asking Alexandria</option>
                         </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="revNo"> Follow Up Date </label>
                          <input type="date" class="form-control" formControlName="FollowUpDate"   />
                        </div>
                      </div>  
                                           
                    </div>
                    <div class="form-row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="id"> Sales Person 2 </label>
                          <select class="form-control" name="status" >
                            <option>Climaco Onde Jr</option>
                            <option>Kenny Rogers</option>
                            <option>Whiteny Houston</option>
                            <option>Asking Alexandria</option>
                         </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="revNo"> Follow Up Date 2 </label>
                          <input type="date" class="form-control" formControlName="FollowUpDate2" placeholder="Revision Number" />
                        </div>
                      </div>  
                     
                                           
                    </div>
                    <div class="form-row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="id"> Source </label>
                          <ng-select appearance="outline" [searchable]="true"  labelForId="SourceId" formControlName="SourceId"   placeholder="Select Source">
                            <ng-option *ngFor="let source of sources" [value]="source.SourceId">{{ source.Name }}</ng-option>
                          </ng-select>
                        
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="revNo"> Quality </label>
                          <select class="form-control" name="status" formControlName="Quality" >
                            <option  >Unknown</option>
                            <option  >Minor Importance</option>
                            <option  >Important Lead</option>
                            <option  >Routine Lead</option>
                            <option  >Hot</option>
                         </select>
                        </div>
                      </div>  
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="revNo"> Likelihood </label>
                          <select class="form-control" name="status" formControlName="Likelihood">
                            <option  >Unknown</option>
                            <option  >Normal</option>
                            <option  >Not Promising</option>
                            <option  >Promising</option>
                         </select>
                        </div>
                      </div>  
           
                    </div>
                    <div class="form-row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="id"> Meet Date </label>
                          <input type="date" class="form-control" formControlName="MeetDate" placeholder="System Generated"   />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="revNo"> Time </label>
                          <input type="time" class="form-control" formControlName="Remarks" placeholder="Revision Number" />
                         
                        </div>
                      </div>  
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="revNo"> Action Needed </label>
                          <input type="checkbox" class="form-control"   placeholder="Revision Number" formControlName="ActionNeeded"/>
                        </div>
                      </div>                        
                    </div>
                    <div class="form-row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="id"> Remarks </label>
                          <textarea class="form-control" name="" formControlName="Remarks"  cols="10" rows="5"></textarea>
                           
                        </div>
                      </div>
                                         
                    </div>
                  </div>
                  <div class="card-body border-top card-header">
                    <div class="d-flex align-items-center">
                      <span class="mr-auto">Specialty</span>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="col-4">
                      <div class="form-row">
                        <div class="checkbox-container col-md-12">
                          <input type="checkbox" id="myCheckbox" name="myCheckbox" class="mr-2">
                          <label for="myCheckbox">WEB</label>
                        </div>
                        <div *ngFor="let specialty of webspecialties" class="checkbox-container col-md-12 ml-2" >
                          <input type="checkbox" id="{{specialty.Name}}" name="myCheckbox"   class="mr-2" (change)="checkValue(specialty.Name)">
                          <label for="myCheckbox">{{specialty.Name}}</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-row">
                        <div class="checkbox-container col-md-12">
                          <input type="checkbox" id="myCheckbox" name="myCheckbox" class="mr-2">
                          <label for="myCheckbox">WEB</label>
                        </div>
                        <div *ngFor="let specialty of webspecialties" class="checkbox-container col-md-12 ml-2" >
                          <input type="checkbox" id="{{specialty.Name}}" name="myCheckbox"   class="mr-2" (change)="checkValue(specialty.Name)">
                          <label for="myCheckbox">{{specialty.Name}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li ngbNavItem="client">
                <a ngbNavLink routerLink="." fragment="client">Client</a>
                <ng-template ngbNavContent>
                  <div class="card-header">
                    <div class="d-flex align-items-center">
                      <span class="mr-auto">Client </span>
                      <button class="btn btn-warning  mr-1  " routerLink="/lead-system-list">Cancel</button>
                      <button class="btn btn-success  mr-1  " (click)="saveLeadheader()">Save</button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="form-row">
                      
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="id"> Client Name </label>
                          <input type="text" class="form-control" formControlName="ClientName" placeholder="System Generated" readonly />
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="form-group">
                          <label for="revNo"> Description  </label>
                          <input type="textarea" class="form-control" formControlName="Description" placeholder="Description" readonly />
                        </div>
                      </div>                        
                    </div>
                    <div class="form-row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="id"> Address 1 </label>
                          <input type="text" class="form-control" formControlName="Address1" placeholder="Address 1"  readonly />
                        </div>
                      </div>
                                         
                    </div>
                    <div class="form-row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="id"> Address 2 </label>
                          <input type="text" class="form-control" formControlName="Address2" placeholder="Address 2"  readonly />
                        </div>
                      </div>
                                         
                    </div>
                    <div class="form-row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="id"> City </label>
                          <input type="text" class="form-control" formControlName="City" readonly />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="revNo"> Country </label>
                          <input type="textarea" class="form-control" formControlName="Country" placeholder="Country"  readonly/>
                        </div>
                      </div> 
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="revNo"> ZIP </label>
                          <input type="textarea" class="form-control" formControlName="ZIP" placeholder="ZIP" readonly />
                        </div>
                      </div>                           
                    </div>
                    <div class="form-row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="id"> Phone </label>
                          <input type="text" class="form-control" formControlName="Phone" placeholder="System Generated" readonly />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="revNo"> FAX </label>
                          <input type="textarea" class="form-control" formControlName="FAX" placeholder="FAX" readonly/>
                        </div>
                      </div> 
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="revNo"> URL </label>
                          <input type="textarea" class="form-control" formControlName="URL" placeholder="URL" readonly/>
                        </div>
                      </div>                           
                    </div>
                    
                  </div>
                  <div class="card-body border-top card-header">
                    <div class="d-flex align-items-center">
                      <span class="mr-auto">Contact List</span>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="form-row">
                      <div class="page-section">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th class="align-middle" style="width: 5%" scope="col" sortable="code">Salutation</th>
                              <th class="align-middle" style="width: 15%" scope="col" sortable="code">First Name</th>
                              <th class="align-middle" style="width: 15%" scope="col" sortable="code">Last Name</th>
                              <th class="align-middle" style="width: 5%" scope="col" sortable="code">Status</th>
                              <th class="align-middle" style="width: 10%" scope="col" sortable="code">Department</th>
                              <th class="align-middle" style="width: 10%" scope="col" sortable="code">Type</th>
                              <th class="align-middle" style="width: 20%" scope="col" sortable="code">Email</th>
                              <th class="align-middle" style="width: 20%" scope="col" sortable="code">Remarks</th>
                              <th class="align-middle" style="width: 5%" scope="col" sortable="code"><button class="btn btn-info ml-auto" (click)="openLeadContactModal()"><i class="fas fa-plus"></i></button></th>
                          
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let leadcontact of leadcontacts ; index as i">
                              <td class="align-middle">{{leadcontact.Salutation}}<ngb-highlight></ngb-highlight></td>
                              <td class="align-middle">{{leadcontact.FirstName}}<ngb-highlight></ngb-highlight></td>
                              <td class="align-middle">{{leadcontact.LastName}}<ngb-highlight></ngb-highlight></td>
                              <td class="align-middle">{{leadcontact.Status}}<ngb-highlight></ngb-highlight></td>
                              <td class="align-middle">{{leadcontact.Department}}<ngb-highlight></ngb-highlight></td>
                              <td class="align-middle">{{leadcontact.Type}}<ngb-highlight></ngb-highlight></td>
                              <td class="align-middle">{{leadcontact.Email}}<ngb-highlight></ngb-highlight></td>
                              <td class="align-middle">{{leadcontact.Remarks}}<ngb-highlight></ngb-highlight></td>
                              <td class="align-middle">  
                                <button class="btn btn-info ml-auto mr-1" (click)="deleteContact(i)"><i class="fas fa-trash"></i></button> 
                                <ngb-highlight></ngb-highlight>
                              </td>
                            </tr>
                           
                          </tbody>
                        </table>
              
                       
                      </div>              
                    </div>
                  </div>
                </ng-template>
              </li>
              <li ngbNavItem="notes">
                <a ngbNavLink routerLink="." fragment="notes">Notes</a>
                <ng-template ngbNavContent>
                  <div class="card-body border-top card-header">
                    <div class="d-flex align-items-center">
                      <span class="mr-auto">Notes</span>
                      <button class="btn btn-warning  mr-1  " routerLink="/lead-system-list">Cancel</button>
                      <button class="btn btn-success  mr-1  " (click)="saveLeadheader()">Save</button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="form-row">
                      <div class="page-section">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th class="align-middle" style="width: 25%" scope="col" sortable="code"  >Date</th>
                              <th class="align-middle" style="width: 65%" scope="col" sortable="code"  >Running Commentary on what is going on in this lead  </th>
                              <th class="align-middle" style="width: 10%" scope="col" sortable="code"><button class="btn btn-info ml-auto" (click)="openNotesModal()"><i class="fas fa-plus"></i></button></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let note of notes">
                              <td class="align-middle">{{note.Date  | date}}<ngb-highlight></ngb-highlight></td>
                              <td class="align-middle">{{note.Description}}<ngb-highlight></ngb-highlight></td>
                              <td class="align-middle"><ngb-highlight></ngb-highlight></td>
                            </tr>
                          </tbody>
                        </table>
              
                       
                      </div>              
                    </div>
                  </div>
                </ng-template>
              </li>
              <li ngbNavItem="attachments">
                <a ngbNavLink routerLink="." fragment="attachments">Attachments</a>
                <ng-template ngbNavContent>
                    
                  <div class="card-body border-top card-header">
                    <div class="d-flex align-items-center">
                      <span class="mr-auto">Attachment</span>
                      <button class="btn btn-warning  mr-1  " routerLink="/lead-system-list">Cancel</button>
                      <button class="btn btn-success  mr-1  " (click)="saveLeadheader()">Save</button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="form-row">
                      <div class="page-section">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th class="align-middle" style="width: 75%" scope="col" sortable="code">Proposal</th>
                              <th class="align-middle" style="width: 15%" scope="col" sortable="code"><button class="btn btn-info ml-auto" (click)="openProposalModal()"><i class="fas fa-plus"></i></button></th>
                          
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let proposal of proposals; index as i">
                              <td class="align-middle">{{proposal.Proposal}}<ngb-highlight></ngb-highlight></td>
                              <td class="align-middle">  
                                <button class="btn btn-info ml-auto mr-1" (click)="deleteProposal(i)"><i class="fas fa-trash"></i></button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>              
                    </div>

                    <div class="form-row">
                      <div class="page-section">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th class="align-middle" style="width: 75%" scope="col" sortable="code">Document</th>
                              <th class="align-middle" style="width: 15%" scope="col" sortable="code"><button class="btn btn-info ml-auto" (click)="openDocumentModal()"><i class="fas fa-plus"></i></button></th>
                          
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                            </tr>
                            <tr *ngFor="let document of documents; index as i">
                              <td class="align-middle">{{document.FileName}}<ngb-highlight></ngb-highlight></td>
                              <td class="align-middle"> <button class="btn btn-info ml-auto mr-1" (click)="deleteDocument(i)"><i class="fas fa-trash"></i></button></td>
                               
                            </tr>
                             
                  
                          </tbody>
                        </table>
              
                       
                      </div>              
                    </div>
                    <div class="form-row">
                      <div class="page-section">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th class="align-middle" style="width: 75%" scope="col" sortable="code">Cut and Paste</th>
                              <th class="align-middle" style="width: 15%" scope="col" sortable="code"><button class="btn btn-info ml-auto" (click)="openCutPasteModal(null)"><i class="fas fa-plus"></i></button></th>
                          
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let cutpaste of cutpastes; index as i">
                              <td class="align-middle hover-item"    (click)="openCutPasteModal(cutpaste)">{{cutpaste.Title}}<ngb-highlight></ngb-highlight></td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
              
                       
                      </div>              
                    </div>

                    <div class="form-row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="id"> Internet Contact List  </label>
                          <textarea class="form-control" name="" formControlName="InternetContactList"  cols="10" rows="5"></textarea>

                        </div>
                      </div>
                                         
                    </div>
                    <div class="form-row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="id"> Action Notes Needed  </label>
                          <textarea class="form-control" name="" formControlName="ActionNeededNotes"  cols="10" rows="5"></textarea>
                           
                        </div>
                      </div>
                                         
                    </div>
                    <div class="form-row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="id"> Internet Notes  </label>
                          <textarea class="form-control" name="" formControlName="InternetNotes"  cols="10" rows="5"></textarea>
                           
                        </div>
                      </div>
                                         
                    </div>
                  </div>
                </ng-template>
              </li>
              
            </ul>
          </form>
  
            <div [ngbNavOutlet]="nav" class="mt-3"></div>
          </div>
       

       
    </div>
  </div>
</div>
