<div class="wrapper">
  <div class="page">

      <div class="page-inner">
          <header class="page-title-bar mb-1">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item active">
                          <a routerLink="/client-list"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i> Client List </a>
                      </li>
                  </ol>
              </nav>
              <div class="row text-center text-sm-left h-100 mt-3">
                  <div class="col-sm-auto col-12">
                      <span class="tile tile-lg bg-info">
                        <i class="fas fa-clipboard-user"></i>
                      </span>
                  </div>
                  <div class="col pl-1 justify-content-center align-self-center">
                    <span class="text-muted m-0"> Client Information </span>
                      <h4 class="m-0"> {{ item?.name }} </h4>
                  </div>
              </div>
          </header>
          <div class="page-section">
            <ul ngbNav #nav="ngbNav" [activeId]="activatedRoute.fragment | async" class="nav-tabs">
              <li ngbNavItem="client">
                <a ngbNavLink routerLink="." fragment="client">Information</a>
                <ng-template ngbNavContent>
                  <div class="row mt-3">
                    <div class="col-lg-12">
                        <div class="card card-fluid">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                  <span class="mr-auto">Client Information</span>
                                    <div class="card-header-control">
                                        <div class="card-header-control">
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-icon btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-ellipsis-v"></i></button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                  <div class="dropdown-arrow mr-n1"></div>
                                                  <div class="dropdown-item" (click)="openModal(item)"> Update </div>
                                                  <div class="dropdown-divider"></div>
                                                  <div class="dropdown-item" (click)="openDeleteModal(item)"> Delete </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                              <dl class="row">
                                <dt class="col-sm-2">Code</dt>
                                <dd class="col-sm-10">{{ item?.Code }}</dd>
                                <dt class="col-sm-2">Name</dt>
                                <dd class="col-sm-10">{{ item?.Name }}</dd>
                                <dt class="col-sm-2">Description</dt>
                                <dd class="col-sm-10">{{ item?.Description }}</dd>
                                <dt class="col-sm-2">Adress 1</dt>
                                <dd class="col-sm-10">{{ item?.Adress1 }}</dd>
                                <dt class="col-sm-2">Adress 2</dt>
                                <dd class="col-sm-10">{{ item?.Adress2 }}</dd>
                                <dt class="col-sm-2">City </dt>
                                <dd class="col-sm-10">{{ item?.CityId }}</dd>
                                <dt class="col-sm-2">Country</dt>
                                <dd class="col-sm-10">{{ item?.CountryId }}</dd>
                                <dt class="col-sm-2">Phone</dt>
                                <dd class="col-sm-10">{{ item?.Phone }}</dd>
                                <dt class="col-sm-2">FAX</dt>
                                <dd class="col-sm-10">{{ item?.FAX }}</dd>
                                <dt class="col-sm-2">URL</dt>
                                <dd class="col-sm-10">{{ item?.URL }}</dd>
                                <dt class="col-sm-2">GMTOffset</dt>
                                <dd class="col-sm-10">{{ item?.GMTOffset }}</dd>
                                <dt class="col-sm-2">Date Created</dt>
                                <dd class="col-sm-10">{{ item?.dateCreated | dateAgo }}</dd>
                                <dt class="col-sm-2">Created By</dt>
                                <dd class="col-sm-10">{{ item?.createdBy }}</dd>
                                <dt class="col-sm-2">Date Last Modified</dt>
                                <dd class="col-sm-10">{{ item?.dateModified | dateAgo}}</dd>
                                <dt class="col-sm-2">Modified By</dt>
                                <dd class="col-sm-10">{{ item?.modifiedBy }}</dd>
                              </dl>
                            </div>
                        </div>
                    </div>
                  </div>
                </ng-template>
              </li>
              
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-3"></div>
          </div>
      </div>
  </div>
</div>
