<main class="auth auth-floated">
  <div class="auth-form">
    <router-outlet></router-outlet>
    <p class="mb-0 px-3 text-muted text-center">
 
      <a href="#" class="text-decoration-none text-info">Privacy</a> and <a class="text-decoration-none text-info" href="#">Terms</a>
    </p>
  </div>
  <div id="announcement" class="auth-announcement bg-info">
      <div class="announcement-body">
       
          <h1> Lead System </h1>
          <h2 class="announcement-title mb-0"> Outsource with Confidence</h2>
      </div>
  </div>
</main>
