<div class="modal-header">
  <h5 class="modal-title" *ngIf="item != null">Update Specialty</h5>
  <h5 class="modal-title" *ngIf="item == null"> Create New Specialty </h5>
</div>
<form [formGroup]="modalFormGroup" autocomplete="off" novalidate (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="form-row">
      <div class="col-md-12" *ngIf="errors">
        <div class="alert alert-danger" role="alert">
          <ul class="list-unstyled m-0">
            <li *ngFor="let error of errors">{{ error }}</li>
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="code"> Code  <span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="Code" placeholder="Code" />
          <span class="text-danger small" *ngIf="!modalForm.Code.valid && modalForm.Code.touched">
            <span *ngIf="modalForm.Code.hasError('required')  || modalForm.Code?.errors ">Code is required.</span>
          </span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="Name"> Name <span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="Name" placeholder="Name" />
          <span class="text-danger small" *ngIf="!modalForm.Name.valid && modalForm.Name.touched   ">
            <span *ngIf="modalForm.Name.hasError('required') || modalForm.Name?.errors">Name is required.</span>
          </span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="code"> Category   </label>
          <ng-select appearance="outline" [searchable]="true"  labelForId="Suffix" formControlName="Category"   placeholder="Select Category"  >
            <ng-option *ngFor="let category of categories" [value]="category">{{ category }}</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="Description"> Description <span class="text-danger">*</span></label>
          <textarea type="text" class="form-control" formControlName="Description" placeholder="Description" rows="5"></textarea>
          <span class="text-danger small" *ngIf="!modalForm.Description.valid && modalForm.Description.touched">
            <span *ngIf="modalForm.Description.hasError('required')">Description is required.</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-info" [disabled]="!modalFormGroup.valid">Submit</button>
    <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Cancel</button>
  </div>
</form>

