<div class="mb-4">
  <div class="mb-5 text-left">
    <img class="rounded" src="/assets/images/default-logo.png" alt="" height="72">
  </div>
  <h1 class="h3 text-left"> Force Change Password </h1>
</div>
<div *ngIf="showError" class="alert alert-danger text-left" role="alert">{{ errorMessage }}</div>
<form [formGroup]="forceChangePasswordFormGroup" autocomplete="off" novalidate (ngSubmit)="onSubmit()">
<div class="form-group mb-4 text-left">
  <label for="password"> Password </label>
  <input type="password" class="form-control form-control-lg" formControlName="password" placeholder="Password" />
  <span class="text-danger small" *ngIf="!forceChangePasswordForm.password.valid && forceChangePasswordForm.password.touched">
    <span *ngIf="forceChangePasswordForm.password.hasError('required')">Password is required.</span>
  </span>
</div>
<div class="form-group mb-4 text-left">
  <label for="confirmPassword"> Password </label>
  <input type="confirmPassword" class="form-control form-control-lg" formControlName="confirmPassword" placeholder="Confirm Password" />
  <span class="text-danger small" *ngIf="!forceChangePasswordForm.confirmPassword.valid && forceChangePasswordForm.confirmPassword.touched">
    <span *ngIf="forceChangePasswordForm.confirmPassword.hasError('required')">Confirm password is required.</span>
    <span *ngIf="forceChangePasswordForm.confirmPassword.hasError('mustMatch')">Confirm password didn't matched with password.</span>
  </span>
</div>
<br>
<div class="form-group mb-4">
    <button type="submit" class="btn btn-lg btn-info btn-block" [disabled]="!forceChangePasswordFormGroup.valid">Submit</button>
</div>
</form>
