<div class="app">
  <header class="app-header app-header-light bg-info">
    <div class="top-bar">
      <div class="top-bar-brand">
          <a routerLink="/dashboard">
             
          </a>
      </div>
      <div class="top-bar-list">
        <div class="top-bar-item px-2 d-md-none d-lg-none d-xl-none">
            <button class="hamburger hamburger-squeeze" type="button" data-toggle="aside" aria-label="toggle menu"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button> <!-- /toggle menu -->
        </div>
        <div class="top-bar-item top-bar-item-right px-0 d-none d-sm-flex">
          <div class="dropdown">
            <button class="btn-account d-none d-md-flex" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="tile tile-circle bg-white text-info mr-2">  </span>
                <span class="account-summary pr-lg-4 d-none text-white d-lg-block">
                  <span class="account-description"> Welcome </span>
                  <span class="account-name">{{ Name}}</span>
                </span>
            </button>
            <div class="dropdown-arrow dropdown-arrow-left"></div>
            <div class="dropdown-menu">
                <h6 class="dropdown-header d-none d-md-block d-lg-none">  {{ user?.FullName }} </h6>
                <a class="dropdown-item" [routerLink]="['/profile']" ><span class="dropdown-icon oi oi-person"></span> Profile </a>
                <a class="dropdown-item" *ngIf='!isAuthenticated' (click)="onLogout()" ><span class="dropdown-icon oi oi-person"></span> Logout </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <aside class="app-aside app-aside-expand-md app-aside-light bg-light">
      <div class="aside-content">

         

          <div class="aside-menu overflow-auto"   >

            <nav id="stacked-menu" class="stacked-menu" >
              <ul class="menu">
                  <li class="menu-item" routerLinkActive="has-active">
                      <a [routerLink]="['/dashboard']" class="menu-link"><span class="menu-icon fas fa-home"></span> <span class="menu-text">Dashboard</span></a>
                  </li>
                  <li class="menu-item"  routerLinkActive="has-active">
                    <a [routerLink]="['/lead-system-list']" class="menu-link"  href="#">
                      <span class="menu-icon fas fa-address-book"></span> 
                      <span class="menu-text">Lead System</span>
                    </a>
                  </li>
                 
                  <li class="menu-item"  routerLinkActive="has-active">
                    <a [routerLink]="['/source-list']" class="menu-link"  href="#">
                      <span class="menu-icon fas fa-building"></span> 
                      <span class="menu-text">Source </span>
                    </a>
                  </li>
                  <li class="menu-item"  routerLinkActive="has-active">
                    <a [routerLink]="['/department-list']" class="menu-link"  href="#">
                      <span class="menu-icon fas fa-warehouse"></span> 
                      <span class="menu-text">Department</span>
                    </a>
                  </li>
                  <li class="menu-item"  routerLinkActive="has-active">
                    <a [routerLink]="['/city-list']" class="menu-link"  href="#">
                      <span class="menu-icon fas fa-city"></span> 
                      <span class="menu-text">City</span>
                    </a>
                  </li>
                  <li class="menu-item"  routerLinkActive="has-active">
                    <a [routerLink]="['/country-list']" class="menu-link"  href="#">
                      <span class="menu-icon fas fa-flag"></span> 
                      <span class="menu-text">Country</span>
                    </a>
                  </li>
                  <li class="menu-item"  routerLinkActive="has-active">
                    <a [routerLink]="['/specialty-list']" class="menu-link"  href="#">
                      <span class="menu-icon fas fa-fill-drip"></span> 
                      <span class="menu-text">Specialty </span>
                    </a>
                  </li>
                  <li class="menu-item"  routerLinkActive="has-active">
                    <a [routerLink]="['/systemtype-list']" class="menu-link"  href="#">
                      <span class="menu-icon fas fa-layer-group"></span> 
                      <span class="menu-text">System Type </span>
                    </a>
                  </li>
                  <li class="menu-item"  routerLinkActive="has-active">
                    <a [routerLink]="['/client-list']" class="menu-link"  href="#">
                      <span class="menu-icon fas fa-address-book"></span> 
                      <span class="menu-text">Client </span>
                    </a>
                  </li>
                  <li class="menu-item"  routerLinkActive="has-active">
                    <a [routerLink]="['/employee-list']" class="menu-link"  href="#">
                      <span class="menu-icon fas fa-address-book"></span> 
                      <span class="menu-text">Employee </span>
                    </a>
                  </li>
                  <li class="menu-item"  routerLinkActive="has-active">
                    <a [routerLink]="['/user-list']" class="menu-link"  href="#">
                      <span class="menu-icon fas fa-users"></span> 
                      <span class="menu-text">User </span>
                    </a>
                  </li>
                  <li class="menu-item"  routerLinkActive="has-active">
                    <a [routerLink]="['/contact-list']" class="menu-link"  href="#">
                      <span class="menu-icon fas fa-users"></span> 
                      <span class="menu-text">Contact </span>
                    </a>
                  </li>
                
              </ul>
          </nav>

          </div>
      </div>
  </aside>
  <main id="app-main" class="app-main">
    <router-outlet></router-outlet>
  </main>
</div>
