<div class="wrapper">
  <div class="page">
    <div class="page-inner">
      <header class="page-title-bar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                    <a routerLink="/dashboard"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i> Dashboard </a>
                </li>
            </ol>
        </nav>
        <div class="row text-center text-sm-left h-100 mt-3">
            <div class="col-sm-auto col-12">
                <span class="tile tile-lg bg-info">
                  <i class="fas fa-address-book"></i>
                </span>
            </div>
            <div class="col pl-1 justify-content-center align-self-center">
                <span class="text-muted m-0"> Client Management </span>
                <h4 class="m-0"> Client List </h4>
            </div>
        </div>
      </header>
      <form>
        <header class="page-title-bar">
          <div class="row">
            <div class="col-auto d-none d-sm-flex">
              <button class="btn btn-info ml-auto" (click)="openModal()" [disabled]="!ModulePermission?.Add">Create New Client</button>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-md-12">
                    <div class="input-group has-spinner">
                        <span class="spinner-border spinner-border-sm text-info show" *ngIf="clientService.loading | async"></span>
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="fas fa-search"></span></span>
                        </div>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Search" name="searchTerm" [(ngModel)]="clientService.searchTerm">
                    </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="page-section">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="align-middle" style="width: 5%" scope="col" sortable="Code" (sort)="onSort($event)">Code</th>
                <th class="align-middle" style="width: 15%" scope="col" sortable="Name" (sort)="onSort($event)">Name</th>
                <th class="align-middle" style="width: 20%" scope="col" sortable="Description" (sort)="onSort($event)">Description</th>
                <th class="align-middle" style="width: 20%" scope="col" sortable="Address" (sort)="onSort($event)">Address</th>
                <th class="align-middle" style="width: 10%" scope="col" sortable="Phone" (sort)="onSort($event)">Phone</th>
                <th class="align-middle" style="width: 15%" scope="col" sortable="dateModified" (sort)="onSort($event)">Date Last Modified</th>
                <th class="align-middle" style="width: 15%" scope="col" sortable="status" (sort)="onSort($event)">Status</th>
                <th class="align-middle" style="width: 5%"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items | async">
                <td class="align-middle">
                  <span><i *ngIf="item.Default" class="fas fa-check text-success mr-2"></i></span>
                <a class="text-success" routerLink="/client-detail/{{ item.ClientId }}"><ngb-highlight [result]="item.Code" [term]="clientService.searchTerm"></ngb-highlight></a>
                </td>
                <td class="align-middle"><ngb-highlight [result]="item.Name" [term]="clientService.searchTerm"></ngb-highlight></td>
                <td class="align-middle"><ngb-highlight [result]="item.Description" [term]="clientService.searchTerm"></ngb-highlight></td>
                <td class="align-middle"><ngb-highlight [result]="item.Address1" [term]="clientService.searchTerm"></ngb-highlight></td>
                <td class="align-middle"><ngb-highlight [result]="item.Phone" [term]="clientService.searchTerm"></ngb-highlight></td>
                <td class="align-middle">{{ item?.CreatedDate | dateAgo }}</td>
                <td class="align-middle">
                  <span *ngIf="item.Enabled"><i class="fas fa-circle text-success mr-1"></i> Enabled</span>
                  <span *ngIf="!item.Enabled"><i class="fas fa-circle text-danger mr-1"></i> Disabled</span>
                </td>
                <td class="align-middle text-right">
                  <div class="dropdown" >
                    <button [disabled]="((!ModulePermission?.Edit) && (!ModulePermission?.Delete))" class="btn btn-sm btn-icon btn-secondary" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <div *ngIf="ModulePermission?.Edit">
                        <div class="dropdown-arrow mr-n1"></div>
                        <div class="dropdown-item" (click)="openModal(item)"> Update </div>
                        <div class="dropdown-item" (click)="openToggleModal(item)"> {{ item?.Enabled ? "Disable" : "Enable" }} </div>
                      </div>
                      <div *ngIf="((ModulePermission?.Edit) && (ModulePermission?.Delete))" class="dropdown-divider"></div>
                       <div *ngIf="ModulePermission?.Delete" class="dropdown-item" (click)="openDeleteModal(item)"> Delete </div>
                    </div>
                  </div>
                </td>
              </tr>
            <tr *ngIf="(total | async) === 0">
              <td class="text-center" colspan="8"><strong>No record found.</strong> Change a few filters up and try submitting again.</td>
            </tr>
            </tbody>
          </table>

          <div class="d-flex justify-content-center p-2" *ngIf="total | async">
            <ngb-pagination
              [collectionSize]="(total | async)!" [(page)]="clientService.page" [pageSize]="clientService.pageSize">
            </ngb-pagination>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
