<div class="wrapper">
  <div class="page">
      <div class="page-inner">
          <header class="page-title-bar">
              <div class="d-flex flex-column flex-md-row">
                  <p class="lead">
                    <span class="font-weight-bold">Hi, CLIMACO</span>
                      <span class="d-block text-muted">Here’s what’s happening with your business today.</span>
                  </p>
              </div>
          </header>
          <div class="page-section">
            <div class="d-flex flex-column flex-md-row">
                <p class="lead">
                  <span class="font-weight-bold">You have {{leadToday.length}} leads scheduled today.</span>
                  <a *ngFor="let lead of leadToday" routerLink="/lead-update/{{ lead.LeadId }}" class="d-block" href="#">
                    {{lead.Country}} - #{{lead.LeadNo}} ({{lead.BestTimeCall}})  - {{lead.MeetDate | date}}
                  </a>
                </p>
            </div>
            <div class="d-flex flex-column flex-md-row">
                <p class="lead">
                  <span class="font-weight-bold">You have {{leadOverDue.length}}  overdue leads.</span>
                  <a *ngFor="let lead of leadOverDue" routerLink="/lead-update/{{ lead.LeadId }}" class="d-block" href="#">
                    {{lead.Country}} - #{{lead.LeadNo}} ({{lead.BestTimeCall}})  - {{lead.MeetDate | date}}
                  </a>
                </p>
            </div>
            <div class="d-flex flex-column flex-md-row">
                <p class="lead">
                  <span class="font-weight-bold">You have {{leadOverDue2.length}} secondary overdue leads.</span>
                  <a *ngFor="let lead of leadOverDue2" routerLink="/lead-update/{{ lead.LeadId }}" class="d-block" href="#">
                    {{lead.Country}} - #{{lead.LeadNo}} ({{lead.BestTimeCall}})  - {{lead.MeetDate | date}}
                  </a>
                </p>
            </div>
            <div class="d-flex flex-column flex-md-row">
                <p class="lead">
                  <span class="font-weight-bold">You have {{leadCallTom.length}} leads to be called tomorrow.</span>
                  <a *ngFor="let lead of leadCallTom" routerLink="/lead-update/{{ lead.LeadId }}" class="d-block" href="#">
                    {{lead.Country}} - #{{lead.LeadNo}} ({{lead.BestTimeCall}})  - {{lead.MeetDate | date}}
                  </a>
                </p>
            </div>
            <div class="d-flex flex-column flex-md-row">
                <p class="lead">
                  <span class="font-weight-bold">You have {{leadCallTom.length}} leads that need action now.</span>
                  <a *ngFor="let lead of leadNeedAction" routerLink="/lead-update/{{ lead.LeadId }}" class="d-block" href="#">
                    {{lead.Country}} - #{{lead.LeadNo}} ({{lead.BestTimeCall}})  - {{lead.MeetDate | date}}
                  </a>
                </p>
            </div>
            <!-- <div class="d-flex flex-column flex-md-row">
                <p class="lead">
                  <span class="font-weight-bold">All Non-Dead Government leads with deadlines.</span>
            
                </p>
            </div>
            <div class="d-flex flex-column flex-md-row">
                <p class="lead">
                  <span class="font-weight-bold">All Other Government Leads.</span>
            
                </p>
            </div> -->
            
          </div>
      </div>
  </div>
</div>
