<div class="modal-header">
  <h5 class="modal-title"> Confirmation </h5>
</div>
<div class="modal-body">
  <div class="form-row">
    <div class="col-md-12" *ngIf="errors">
      <div class="alert alert-danger" role="alert">
       
      </div>
    </div>
    <div class="col-md-12">
      <p>You have successfully update your record.</p>
      <p>You are about to be log out.</p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="onSubmit()">Okay</button>
</div>

